<section class="section" style="background-color:powderblue;">
    <div class="columns">
        <div class="column is-half">
            <div class="title">
                Free Bi-Weekly Emails To Maximize Your Life
            </div>
            <p style="text-align:center;">
                Every Monday And Thursday I send out Value packed emails
                 filled with actionable advice that have the potential to
                 improve your life if you're willing to take action.
            </p>

        </div>
        <div class="column is-half">
            <div class="field">
                <div class="control has-icons-left">
                    <input type="text" class="input" placeholder="Name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input type="email" class="input" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <button class="button is-primary">Hook Me Up</button>
                </div>
            </div>
            <div class="field">
                <p style="text-align:center;">
                    No Spam Ever
                </p>
            </div>
        </div>


    </div>


</section>
